.bc_card-container {
    padding: 20px;
}

.bc_card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.bc_card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개의 열로 고정 */
    gap: 16px;
}

.bc_card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.bc_card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.bc_card-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 8px;
}

.bc_card-heading {
    font-size: 16px;
    font-weight: 600;
}

.BlogDaily {
    text-align: left;
    padding-left: 10px;
}

.blogpage {
    padding-left: 20px;
}

div {
    /* 각 블로그 항목에 여백 추가 */
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: darkgreen;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: palevioletred;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(85, 176, 215);
    padding-left: 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.TIL0523tableImg {
    width: 1000px;
    height: 200px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.TIL0523ForeignKeyImg {
    width: 800px;
    height: 150px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.TIL0523PostgresVsOthersImg {
    width: 700px;
    height: 400px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.TIL0527usersTableImg {
    width: 750px;
    height: 300px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.TIL0527normalizationImg {
    width: 750px;
    height: 800px;
    padding-left: 20px;
    padding-bottom: 20px;
}