/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: skyblue;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.SideBar {
  display: flex;
  gap: 50px;
  flex-direction: row;
  order: -1;
} */

.App {
  text-align: center;
  display: flex; /* 가로 정렬을 위한 flex 설정 */
  flex-direction: row; /* 왼쪽에서 오른쪽 배치 */
}

.SideBar {
  width: 250px; /* 적절한 너비 설정 */
  min-width: 150px; /* 최소 너비 설정 */
  max-width: 300px; /* 최대 너비 설정 */
  flex-shrink: 1; /* 창이 줄며녀 같이 줄도록 설정 */
  background-color: lightgray; /* 가독성을 위해 추가 */
  display: flex; /* 내부 요소 배치를 위해 flex 사용 */
  flex-direction: column; /* 내부 요소들을 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 (필요에 따라 center로 변경 가능) */
  padding: 20px;
  padding-right: 20px;
  gap: 10px;
}

.MainContent {
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

.about_email {
  color: #46922f;
  font-style: italic
}

.formBtn {
  background-color: #ff4d94;
  border: none;
  color: darkblue
}

.Daily div {
  cursor: pointer;
}

.BlogDaily {
  text-align: left;
}

.Subtitle {
  display: block; /* 블록 요소로 표시 */
  margin: 0;      /* 불필요한 여백을 없앰 */
  color:#ff4d94;
}

.jetImage {
  width: 500px;
  height: 400px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.jetImage2 {
  width: 700px;
  height: 800px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.jetImage3 {
  width: 800px;
  height: 500px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.hdwalletimg4 {
  width: 400px;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.mnemonic7img {
  width: 400px;
  height: 500px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.mnemonic9img {
  width: 400px;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}
