.App {
  display: flex;
  /* 가로 정렬을 위한 flex 설정 */
  flex-direction: row;
  /* 왼쪽에서 오른쪽 배치 */
}

.App-header {
  width: 100%;
  /* 전체 너비 */
  text-align: center;
  /* 가운데 정렬 */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Dancing Script';
  font-size: 36px;
  color: lightgreen;
  background-color: darkgreen;
  z-index: 20;
  /* Sidebar보다 위에 표시되도록 설정 */
  padding: 10px 0;
  /* 상단 여백 추가 */

}

.Container {
  display: flex;
  flex-direction: row;
  /* 왼쪽에서 오른쪽 배치 */
  width: 100%;
}

.Container.has-header {
  padding-top: 60px;
  /* 헤더가 있을 때의 padding */
}

.Container:not(.has-header) {
  padding-top: 0;
  /* 헤더가 없을 때는 padding을 0으로 설정 */
}

.SideBar {
  width: 250px;
  /* 적절한 너비 설정 */
  min-width: 150px;
  /* 최소 너비 설정 */
  max-width: 300px;
  /* 최대 너비 설정 */
  flex-shrink: 1;
  /* 창이 줄며녀 같이 줄도록 설정 */
  color: rgb(206, 73, 117);
  background-color: lightpink;
  /* 가독성을 위해 추가 */
  display: flex;
  /* 내부 요소 배치를 위해 flex 사용 */
  flex-direction: column;
  /* 내부 요소들을 세로 정렬 */
  align-items: flex-start;
  /* 왼쪽 정렬 (필요에 따라 center로 변경 가능) */
  padding: 20px;
  padding-right: 20px;
  padding-top: 100px;
  gap: 20px;
  height: 100vh;
  /* Sidebar의 높이를 화면 전체 높이에 맞추기 */
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 30px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  /* Sidebar의 너비 */
  height: 100vh;
  /* 화면 전체 높이 */
}

.SideBar a {
  text-decoration: none;
  /* 링크의 밑줄을 제거 */
  color: inherit;
  /* 링크 색상 부모 요소의 색상 그대로 사용 */
}


.MainContent {
  flex-grow: 1;
  /* 남은 공간을 차지하도록 설정 */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* 가운데 정렬 대신 왼쪽 정렬로 수정 */
  margin-left: 220px;
  /* Sidebar 너비보다 조금 더 여백을 주어 겹치지 않도록 설정 */
  padding: 20px;
}

.About,
.Daily {
  display: flex;
  flex-direction: column;
  /* 세로로 정렬 */
  align-items: flex-start;
  /* 왼쪽 정렬 */
  justify-content: flex-start;
  /* 위로 정렬 */
  padding-top: 10px;
  padding-left: 10px;
  /* 여백 추가 */
}


.about_email {
  color: #46922f;
  font-style: italic
}

.formBtn {
  background-color: darkgreen;
  border: none;
  color: lightgreen;
  font-size: 15px;
}

.Daily div,
.About div,
.furtherStudies div {
  padding-left: 20px;
  /* 각 항목에 왼쪽 여백 추가 */
  cursor: pointer;
  margin: 5px 0;
  /* 각 항목 간 간격 */
}


.BlogDaily {
  text-align: left;
  padding-left: 10px;
}

.blogpage {
  padding-left: 20px;
}

.blogpage div {
  /* 각 블로그 항목에 여백 추가 */
  padding-left: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.blogpage h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: darkgreen;
}

.blogpage h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: palevioletred;
}

.blogpage p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

.Subtitle {
  display: block;
  /* 블록 요소로 표시 */
  margin: 0;
  /* 불필요한 여백을 없앰 */
  color: #ff4d94;
}


.jetImage {
  width: 500px;
  height: 400px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.jetImage2 {
  width: 700px;
  height: 800px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.jetImage3 {
  width: 800px;
  height: 500px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.hdwalletimg4 {
  width: 400px;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.mnemonic7img {
  width: 400px;
  height: 500px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.mnemonic9img {
  width: 400px;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.contractStructure {
  width: 400px;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.contractState {
  width: 200px;
  height: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.contractCheck {
  width: 320px;
  height: 130px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.attackContract {
  width: 900px;
  height: 700px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.interfaceVsAbstractContract,
.libraryVsContract {
  width: 800px;
  height: 250px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.til0402_img {
  width: 450px;
  height: 100px;

}

.til0402img2 {
  width: 500px;
  height: 700px;
}

.til0402img3 {
  width: 500px;
  height: 350px;
}